# Prerequisites
*.d

*.exe
*.vscode/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#directory
/MySTL/.vs
/MySTL/x64
/MySTL/MySTL/x64

#file
*.vcxproj
*.filters
*.user
